



h2{
	margin-top: 60px;
}


#mission{
	margin-top: 30px;
	margin-left: 150px;
	margin-right: 119px;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
}

#vision{
	margin-top: 30px;
	margin-left: 187px;
	margin-right: 129px;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
}
}